* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.resume-fields h2 {
  margin-bottom: 24px;
}

:root {
  --lite-gray: #f0f1f4;
  --label-width: 120px;
  --sb-theme-color: #3080e8;
  --sb-conent-bg: #fcf9f8;
  --sb-corner-radius: 12px;
  --sb-padding: 16px;
  --sb-max-content-width: 1024px;
  --sb-border-color-thin: #f0f1f4;
  --sb-hero-bgc: #0891b2;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

footer {
  margin-top: auto;
  padding: 8px;
  gap: 0;
}

.flex-row {
  display: flex;
  gap: 25px;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sb-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.sb-smooth-appear {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
